*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(135deg, #667eea, #764ba2);
}

p{
    text-transform: uppercase;
    margin: 20px;
    text-decoration: solid;
    text-shadow: #060505 2px 2px 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input{  
    margin: 20px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
    

}


.submit{
    margin: 40px 40px 20px 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #5dbea3 0.000%,  #33b249 100.000%, #5adbb5);
    font-size: 15px;
}

.contain{
    display: flex;
    justify-content: center;
}

.submit:hover{
    font-size: 16px;
    border: solid black;

}

.heading{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: #180d0d 2px 2px 4px;
    font-family: cursive;
}


